<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet" type="text/css"
	href="/bootstrap-3.2.0-dist/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css"
	href="/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css"></link>

<link rel="stylesheet"
	href="/bootstrap-3.2.0-dist/fonts/glyphicons-halflings-regular.eot">
</link>
<link
	href="/bootstrap-3.2.0-dist/fonts/glyphicons-halflings-regular.svg"></link>
<link
	href="/bootstrap-3.2.0-dist/fonts/glyphicons-halflings-regular.ttf"></link>
<link
	href="/bootstrap-3.2.0-dist/fonts/glyphicons-halflings-regular.woff"></link>

<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript"
	src="/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>


</head>


<body>
	<div class="container">

		<table class="table table-striped">
			<tr>
				<th>Total de Dados de Teste</th>
				<th>Operador de Mutação</th>
				<th>Mutante</th>
				<th>Vivo?</th> 
			</tr>
			<tr th:each="Results : ${valores}">
				<td th:text="${Results.Operador_Mutante}"></td>
				<td th:text="${Results.Operador_Mutante}"></td>
				<td th:text="${Results.Mutante}"></td>
				<td th:text="${Results.Dead}"></td>
			</tr>
		</table>

	</div>
</body>
</html>
